In [77]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
from edc_metadata.constants import REQUIRED, KEYED
from django.apps import apps as django_apps
from django.db.models import Q
import pandas as pd
import re

In [78]:
intervention_df = pd.read_excel('./potlako_data_issues.xlsx', 
                                sheet_name='Intervention',
                                usecols='A,B,D',
                                engine='openpyxl',).dropna()




intervention_df

,PID,ISSUE,COMMENT
0,132-40400004-5,1000.1 amd 3000.1,1000.1 not on local host but on live server
1,132-40700015-8,"2000, 2000.1 AND 3000","2000 not on both servers, 2000.1 and 3000 not ..."
2,132-40700013-3,2000 AND 3000,"2000 not on both servers, 3000 not on live ser..."
3,132-40700014-1,2000 AND 3000,"2000 not on both servers, 3000 not on live ser..."
4,132-40500010-1,"2000, 2000.7, 3000","2000 only on local host, 2000.7 not on eitherm..."
5,132-40300005-3,2000 AND 3000,both visits not available on both servers
6,132-40300014-5,2000 AND 3000,both visits not available on both servers
7,132-40300007-9,2000 AND 3000,both visits not available on live servers
8,132-40300008-7,2000.1 and 3000,both visits not available on live servers
9,132-40300010-3,2000 AND 3000,both visits not available on live servers
10,132-40300017-8,2000 AND 3000,both visits not available on live servers
11,132-40700008-3,2000.1 and 3000,both visits not available on live servers
12,132-40300013-7,1000.2 and 2000,both visits not available on live servers only
13,132-40500009-3,2000 and 3000,both visits not available on live servers. Inc...
14,132-40300011-1,2000 AND 3000,both visits not available on live servers. Nav...
15,132-40300012-9,2000 AND 3000,both visits not available on live servers. Nav...
16,132-40500012-7,2000 and 3000,both visits not on live server
37,132-40400057-3,1000.1,"missing on live server, incomplete navigation"
38,132-40600079-5,1000.1,"missing on live server, incomplete navigation"
39,132-40400044-1,2000,"missing on live server, on local host"
58,132-40800009-0,2000.1,no forms on both servers
59,132-40300002-0,3000,no v3000 on live server
60,132-40700020-8,1000.1,"not available on live server, there on local host"
61,132-40800005-8,3000,not on local host or live server
62,132-40400006-0,"1000.1, 1000.3, 1000.4,","show as ""continue"". (might be RA error, needs ..."
63,132-40800020-7,1000.3,"shows ""done and review"", gives yellow page whe..."
64,132-40300015-2,2000 AND 3000,"V2000 and 3000 not showing on live server, but..."
65,132-40300006-1,2000 AND 3000,"V2000 and 3000 not showing on live server, but..."
66,132-40700001-8,3000,visit not available on both servers. Incomplet...
67,132-40700006-7,3000,visit not available on both servers. Incomplet...
68,132-40700009-1,2000 AND 3000,visit not available on both servers. Incomplet...
69,132-40700010-9,3000,visit not available on both servers. Incomplet...
70,132-40700002-6,3000,visit not available on both servers..
71,132-40700003-4,3000,visit not available on both servers..
72,132-40700004-2,3000,visit not available on both servers..
73,132-40700005-9,3000,visit not available on both servers..
74,132-40700007-5,3000,visit not available on both servers..
75,132-40500011-9,1000.11,visit not available on both servers..
76,132-40700017-4,1000.2,visit not available on live server
77,132-40700018-2,2000 AND 3000,visit not available on live server
78,132-40700019-0,"2000, 2000.1 AND 3000",visit not available on live server
79,132-40500005-1,3000,visit not available on live server
80,132-40500006-9,3000,visit not available on live server
81,132-40500007-7,3000,visit not available on live server
82,132-40200020-3,1000.3,visit not available on live server
83,132-40200023-7,1000.3,visit not available on live server
84,132-40200025-2,1000.2,visit not available on live server
85,132-40700024-0,3000,visit not available on live server. Incomplete...
86,132-40700027-3,2000.1,visit not available on live server. Incomplete...
87,132-40700028-1,2000,visit not available on live server. Incomplete...
88,132-40500002-8,3000,visit not available on live server. Incomplete...
89,132-40500003-6,3000,visit not available on live server. Incomplete...
90,132-40500004-4,3000,visit not available on live server. Incomplete...
91,132-40200008-8,2000.2,visit not available on live server. Incomplete...
92,132-40200014-6,2000.1,visit not available on live server. Incomplete...
93,132-40400043-3,2000,"visit not on both servers, incomplete navigation"
94,132-40400046-6,2000,"visit not on both servers, incomplete navigation"
95,132-40400052-4,1000.5,Visit not on live server
96,132-40400048-2,1000.2,"Visit not on live server, incomplete navigation"

In [79]:
standard_of_care_df = pd.read_excel('./potlako_data_issues.xlsx', 
                                    sheet_name='Standard of care',
                                    usecols='A,B,D',
                                    engine='openpyxl',).dropna()

standard_of_care_df

              PID           ISSUE                        COMMENT
0   132-40200002-1           3000  not available on both servers
1   132-40200003-9           3000  not available on both servers
2   132-40200004-7  2000 and 3000  not available on both servers
3   132-40200006-2  2000 and 3000  not available on both servers
4   132-40200007-0  2000 and 3000  not available on both servers
5   132-40600013-4           3000  not available on both servers
6   132-40600015-9           3000  not available on both servers
7   132-40600033-2  2000 and 3000  not available on both servers
8   132-40600032-4  2000 and 3000  not available on both servers
9   132-40600031-6  2000 and 3000  not available on both servers
10  132-40600029-0  2000 and 3000  not available on both servers
11  132-40600024-1  2000 and 3000  not available on both servers
12  132-40600030-8  2000 and 3000  not available on both servers
13  132-40600026-6           3000  not available on both servers
14  132-40600021-7           3000  not available on both servers
15  132-40600023-3           3000  not available on both servers
16  132-40600017-5           3000  not available on both servers
17  132-40600008-4           3000  not available on both servers
18  132-40600007-6           3000  not available on both servers
19  132-40600018-3           3000  not available on both servers
20  132-40600004-3           3000  not available on both servers
21  132-40600014-2           3000  not available on both servers
22  132-40600010-0           3000  not available on both servers
23  132-40600020-9           3000  not available on both servers
24  132-40600036-5  2000 and 3000  not available on both servers
25  132-40600037-3  2000 and 3000  not available on both servers
26  132-40600038-1           2000  not available on both servers
27  132-40600039-9  2000 and 3000  not available on both servers
28  132-40600040-7  2000 and 3000  not available on both servers
29  132-40600041-5  2000 and 3000  not available on both servers
30  132-40600042-3  2000 and 3000  not available on both servers
31  132-40600044-9  2000 and 3000  not available on both servers
32  132-40600045-6  2000 and 3000  not available on both servers
33  132-40600043-1  2000 and 3000  not available on both servers
34  132-40600050-6           2000  not available on both servers
35  132-40600012-6           3000  not available on both servers
36  132-40600009-2           3000  not available on both servers
37  132-40600005-0           3000  not available on both servers
38  132-40600027-4  2000 and 3000  not available on both servers
39  132-40600028-2  2000 and 3000  not available on both servers
40  132-40600019-1           3000  not available on both servers
41  132-40600034-0  2000 and 3000  not available on both servers
42  132-40600006-8           3000  not available on both servers
43  132-40600022-5           3000  not available on both servers
44  132-40900027-1   death report  not available on both servers
45  132-40900028-9   death report  not available on both servers

In [136]:
df = pd.concat([intervention_df, standard_of_care_df])

df

,PID,ISSUE,COMMENT
0,132-40400004-5,1000.1 amd 3000.1,1000.1 not on local host but on live server
1,132-40700015-8,"2000, 2000.1 AND 3000","2000 not on both servers, 2000.1 and 3000 not ..."
2,132-40700013-3,2000 AND 3000,"2000 not on both servers, 3000 not on live ser..."
3,132-40700014-1,2000 AND 3000,"2000 not on both servers, 3000 not on live ser..."
4,132-40500010-1,"2000, 2000.7, 3000","2000 only on local host, 2000.7 not on eitherm..."
...,...,...,...
41,132-40600034-0,2000 and 3000,not available on both servers
42,132-40600006-8,3000,not available on both servers
43,132-40600022-5,3000,not available on both servers
44,132-40900027-1,death report,not available on both servers
45,132-40900028-9,death report,not available on both servers

In [216]:
from edc_appointment.constants import NEW_APPT


regex = r"[0-9]{4}\.?[0-9]*"

missing_appointments = list()

for _, row in df.iterrows():
    

    visit_codes =  [str(float(visit_code)) for visit_code in re.findall(regex, str(row['ISSUE']))]
    subject_identifier = row['PID ']
    
    for visit_code in visit_codes:
        
        temp_visit_code = visit_code.split('.')[0]
        temp_visit_sequence = visit_code.split('.')[1]
        

        appointment = Appointment.objects.filter(subject_identifier=subject_identifier,
                                                 visit_code=temp_visit_code,
                                                 appt_status=NEW_APPT,
                                                 visit_code_sequence=temp_visit_sequence)
        
        if  appointment.exists():
            missing_appointments.extend(appointment.values_list('subject_identifier', 'appt_status', 'visit_code', 'visit_code_sequence'))
            
missing_appointments

[('132-40700015-8', 'new', '2000', 0),
 ('132-40700015-8', 'new', '2000', 1),
 ('132-40700015-8', 'new', '3000', 0),
 ('132-40700013-3', 'new', '2000', 0),
 ('132-40700013-3', 'new', '3000', 0),
 ('132-40700014-1', 'new', '2000', 0),
 ('132-40700014-1', 'new', '3000', 0),
 ('132-40500010-1', 'new', '2000', 0),
 ('132-40500010-1', 'new', '2000', 7),
 ('132-40300005-3', 'new', '2000', 0),
 ('132-40300005-3', 'new', '3000', 0),
 ('132-40300014-5', 'new', '2000', 0),
 ('132-40300014-5', 'new', '3000', 0),
 ('132-40300007-9', 'new', '2000', 0),
 ('132-40300007-9', 'new', '3000', 0),
 ('132-40300008-7', 'new', '2000', 1),
 ('132-40300008-7', 'new', '3000', 0),
 ('132-40300010-3', 'new', '2000', 0),
 ('132-40300010-3', 'new', '3000', 0),
 ('132-40300017-8', 'new', '2000', 0),
 ('132-40300017-8', 'new', '3000', 0),
 ('132-40700008-3', 'new', '2000', 1),
 ('132-40700008-3', 'new', '3000', 0),
 ('132-40300013-7', 'new', '1000', 2),
 ('132-40300013-7', 'new', '2000', 0),
 ('132-40500009-3', 'new', '2000', 0),
 ('132-40500009-3', 'new', '3000', 0),
 ('132-40300011-1', 'new', '2000', 0),
 ('132-40300011-1', 'new', '3000', 0),
 ('132-40300012-9', 'new', '2000', 0),
 ('132-40300012-9', 'new', '3000', 0),
 ('132-40500012-7', 'new', '2000', 0),
 ('132-40500012-7', 'new', '3000', 0),
 ('132-40400057-3', 'new', '1000', 1),
 ('132-40400044-1', 'new', '2000', 0),
 ('132-40800009-0', 'new', '2000', 1),
 ('132-40300002-0', 'new', '3000', 0),
 ('132-40800005-8', 'new', '3000', 0),
 ('132-40800020-7', 'new', '1000', 3),
 ('132-40300015-2', 'new', '2000', 0),
 ('132-40300015-2', 'new', '3000', 0),
 ('132-40300006-1', 'new', '3000', 0),
 ('132-40700001-8', 'new', '3000', 0),
 ('132-40700006-7', 'new', '3000', 0),
 ('132-40700009-1', 'new', '2000', 0),
 ('132-40700009-1', 'new', '3000', 0),
 ('132-40700010-9', 'new', '3000', 0),
 ('132-40700002-6', 'new', '3000', 0),
 ('132-40700003-4', 'new', '3000', 0),
 ('132-40700004-2', 'new', '3000', 0),
 ('132-40700005-9', 'new', '3000', 0),
 ('132-40700007-5', 'new', '3000', 0),
 ('132-40700017-4', 'new', '1000', 2),
 ('132-40700018-2', 'new', '2000', 0),
 ('132-40700018-2', 'new', '3000', 0),
 ('132-40700019-0', 'new', '2000', 0),
 ('132-40700019-0', 'new', '3000', 0),
 ('132-40500005-1', 'new', '3000', 0),
 ('132-40500007-7', 'new', '3000', 0),
 ('132-40200020-3', 'new', '1000', 3),
 ('132-40200023-7', 'new', '1000', 3),
 ('132-40200025-2', 'new', '1000', 2),
 ('132-40700024-0', 'new', '3000', 0),
 ('132-40700027-3', 'new', '2000', 1),
 ('132-40700028-1', 'new', '2000', 0),
 ('132-40500002-8', 'new', '3000', 0),
 ('132-40500003-6', 'new', '3000', 0),
 ('132-40500004-4', 'new', '3000', 0),
 ('132-40200008-8', 'new', '2000', 2),
 ('132-40200014-6', 'new', '2000', 1),
 ('132-40400043-3', 'new', '2000', 0),
 ('132-40400046-6', 'new', '2000', 0),
 ('132-40400052-4', 'new', '1000', 5),
 ('132-40400048-2', 'new', '1000', 2),
 ('132-40200002-1', 'new', '3000', 0),
 ('132-40200003-9', 'new', '3000', 0),
 ('132-40200004-7', 'new', '2000', 0),
 ('132-40200004-7', 'new', '3000', 0),
 ('132-40200006-2', 'new', '2000', 0),
 ('132-40200006-2', 'new', '3000', 0),
 ('132-40200007-0', 'new', '2000', 0),
 ('132-40200007-0', 'new', '3000', 0),
 ('132-40600013-4', 'new', '3000', 0),
 ('132-40600015-9', 'new', '3000', 0),
 ('132-40600033-2', 'new', '2000', 0),
 ('132-40600033-2', 'new', '3000', 0),
 ('132-40600032-4', 'new', '2000', 0),
 ('132-40600032-4', 'new', '3000', 0),
 ('132-40600031-6', 'new', '2000', 0),
 ('132-40600031-6', 'new', '3000', 0),
 ('132-40600029-0', 'new', '2000', 0),
 ('132-40600029-0', 'new', '3000', 0),
 ('132-40600024-1', 'new', '2000', 0),
 ('132-40600024-1', 'new', '3000', 0),
 ('132-40600030-8', 'new', '2000', 0),
 ('132-40600030-8', 'new', '3000', 0),
 ('132-40600026-6', 'new', '3000', 0),
 ('132-40600021-7', 'new', '3000', 0),
 ('132-40600023-3', 'new', '3000', 0),
 ('132-40600017-5', 'new', '3000', 0),
 ('132-40600008-4', 'new', '3000', 0),
 ('132-40600007-6', 'new', '3000', 0),
 ('132-40600018-3', 'new', '3000', 0),
 ('132-40600004-3', 'new', '3000', 0),
 ('132-40600014-2', 'new', '3000', 0),
 ('132-40600010-0', 'new', '3000', 0),
 ('132-40600020-9', 'new', '3000', 0),
 ('132-40600036-5', 'new', '2000', 0),
 ('132-40600036-5', 'new', '3000', 0),
 ('132-40600037-3', 'new', '2000', 0),
 ('132-40600037-3', 'new', '3000', 0),
 ('132-40600038-1', 'new', '2000', 0),
 ('132-40600039-9', 'new', '2000', 0),
 ('132-40600039-9', 'new', '3000', 0),
 ('132-40600040-7', 'new', '2000', 0),
 ('132-40600040-7', 'new', '3000', 0),
 ('132-40600041-5', 'new', '2000', 0),
 ('132-40600041-5', 'new', '3000', 0),
 ('132-40600042-3', 'new', '2000', 0),
 ('132-40600042-3', 'new', '3000', 0),
 ('132-40600044-9', 'new', '2000', 0),
 ('132-40600044-9', 'new', '3000', 0),
 ('132-40600045-6', 'new', '2000', 0),
 ('132-40600045-6', 'new', '3000', 0),
 ('132-40600043-1', 'new', '2000', 0),
 ('132-40600043-1', 'new', '3000', 0),
 ('132-40600050-6', 'new', '2000', 0),
 ('132-40600012-6', 'new', '3000', 0),
 ('132-40600009-2', 'new', '3000', 0),
 ('132-40600005-0', 'new', '3000', 0),
 ('132-40600027-4', 'new', '2000', 0),
 ('132-40600027-4', 'new', '3000', 0),
 ('132-40600028-2', 'new', '2000', 0),
 ('132-40600028-2', 'new', '3000', 0),
 ('132-40600019-1', 'new', '3000', 0),
 ('132-40600034-0', 'new', '2000', 0),
 ('132-40600034-0', 'new', '3000', 0),
 ('132-40600006-8', 'new', '3000', 0),
 ('132-40600022-5', 'new', '3000', 0)]

In [217]:
appt= Appointment.objects.filter(subject_identifier='132-40500006-9', visit_code=3000).first()

In [218]:
from edc_appointment.constants import NEW_APPT


regex = r"[0-9]{4}\.?[0-9]*"

missing_visits = list()

for _, row in df.iterrows():
    

    visit_codes =  [str(float(visit_code)) for visit_code in re.findall(regex, str(row['ISSUE']))]
    subject_identifier = row['PID ']
    
    for visit_code in visit_codes:
        
        temp_visit_code = visit_code.split('.')[0]
        temp_visit_sequence = visit_code.split('.')[1]
        

        subject_visit = SubjectVisit.objects.filter(subject_identifier=subject_identifier,
                                                 visit_code=temp_visit_code,
                                                 visit_code_sequence=temp_visit_sequence)
        
        if  not subject_visit.exists():
            missing_visits.extend(subject_visit.values_list('subject_identifier', 'visit_code', 'visit_code_sequence'))
            
missing_visits

[]